@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');

.cedarville-font {
  font-family: "Cedarville Cursive", cursive;
  font-weight: 400;
  font-style: normal;
}







.inter-font-family {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
  }
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
      
  }
  /* defoult style here end here */
  /* hero content start here  */
  .header-wrapper{
    /* background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%); */
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(41,40,40,1) 40%, rgba(47,44,44,1) 50%, rgba(36,36,36,1) 60%, rgba(0,0,0,1) 100%);


  }
  .header{
      max-width: 1200px;
      
      margin: 0 auto;
  }
  .nav-bar{
      display: flex;
      align-items: center;
      gap: 10px;
      justify-content: space-between;
      padding-top: 30px;
  }
  .nav-links{
      display: flex;
      gap: 20px;
      justify-content: space-between;
      width: 410px;
      height: 40px;
      box-sizing: border-box;
border: 1px solid rgba(255, 255, 255, 0.1);
border-radius: 39px;
filter: blur(30%);


  }
  .btn-normal{
      color: white;
      padding-top: 5px;
      font-size:1rem ;
  }
  .nav-title{
      color: white;
  }
  .span{
    color: rgb(230, 83, 60);
  }
  .hero-title{
      font-size: 4.5rem;
      color: white;
      padding-bottom: 10px;
  }
  .hero-description{
      font-size: 1rem;
      color: rgba(255, 255, 255, 0.741);
      margin-bottom: 20px;
  }
  .hero-container{
      display: flex;
      gap: 13rem;
      max-width: 1200px;
      
  }
  .hero-content{
      margin-top: 120px;
      width: 45%;
     
      margin-bottom: 120px;
      align-items: center;
      
      
  }
  .icon i{
    font-size: 2.8rem;
    color: red;
  }
  .icon-content{
    color: white;
  }
  .icon{
    display: flex;
    align-items: center;
    position: absolute;
    top: 65%;
    left: -10%;
    width: 210px;
    height: 90px;
    border: 1px solid rgba(255, 255, 255, 0.1);
border-radius: 12px;
backdrop-filter: blur(20px);
background: rgba(255, 255, 255, 0.1);
  }
  .text{
    color: white;
    text-align: center;
    position: absolute;
    width: 200px;
    height: 96px;
    top: 25%;
    left: 60%;
    border: 1px solid rgba(255, 255, 255, 0.1);
border-radius: 12px;
backdrop-filter: blur(20px);
background: rgba(255, 255, 255, 0.1);

  }
  .hero-image-content{
    width: 35%;
    margin-top: 30px;
    position: relative;
    
  }
  .hero-image-content img{
    width: 100%;
  }
  .btn-primary{
    background-color:rgb(230, 83, 60) ;
    padding: 10px 10px;
    border-radius: 30px;
    font-size: 1.1rem;
    color: white;

  }
  .normal-btn{
    box-sizing: border-box;
border: 1px solid rgb(255, 255, 255);
border-radius: 20px;
padding: 5px;
background-color: black;
color: white;
font-size: 1.1rem;
filter: blur(30%);


  }
  .ham-barger{
    display: none;
    font-size: 3rem;
    color: white;
    
  }

/* habit section start here  */
.habit-wrapper{
  background-color: black;
}

.habit-container{
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 50px;
}

.habit-text{
  margin: 0 auto;
  text-align: center;
  padding-bottom: 30px;
}
.habit-title{
  font-size: 2.1rem;
  font-weight: 900;
  color: white;
  padding-bottom: 10px;
}
.habit-description{
  font-size: 0.9rem;
  font-weight: 400;
  color: white;
  padding-bottom: 10px;
}
.habit-image-container{
  width: 1044px;
  height: 274px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
  margin: 0 auto;
}
.habit-card{
  width: 231px;
  height: 274px;
  text-align: center;
  padding: 8px;
}
.habit-card img{
  border-radius: 50%;
}
.image-title{
  font-size: 1.1rem;
  font-weight: 600;
  color: white;
}
.image-description{
  font-size: 0.9rem;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.729);
  padding: 5px 10px 5px 10px;
  
}
/* habit container end here  */
/* banner container start here  */
.main-container{
  background-color: black;
}

.container{
  max-width: 1300px;
  padding-top: 50px;
  padding-bottom: 50px;
  margin: 0 auto;
  align-items: center;
  display: flex;
  justify-content: center;
}
.banner-container{
  display: flex;
  width: 1000px;
  height: 300px;
  border-radius: 20px;
  align-items: center;
  justify-content: space-between;
  
  background-color: rgba(99, 103, 103, 0.644);
  
  
  gap: 20px;
  
  
}
.hide{
  display: none;
}
.banner-image img{
  width: 400px;
  height: 300px;
  border-radius: 40px;
  padding: 4px;
}
.banner-content{
  width:400px ;
  height:300px ;
  
  border-radius:40px ;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  padding-left: 30px;
}
.banner-title{
  color: white;
  padding-bottom: 10px;
}
.banner-description{
  color: rgba(255, 255, 255, 0.807);
  padding: 5px 5px;
}
#banner-btn{
  padding: 5px 5px;
  width: 224px;
height: 54px;
border: none;
}
/* banner container end here  */


















  /* responsive area start here  */
  @media screen and (max-width: 576px){
    .hero-container{
      flex-direction: column;
      gap: 30px;
      width: 100%;
    }
    .nav-links{
      display: none;
      
    }
    .ham-barger{
      display: block;
      text-align: right;
    }
    .hero-title{
      text-align: left;
      padding-top: 10px;
      padding-bottom: 10px;
      font-size: 2rem;
  
    }
    .hero-description{
      text-align: left;
      padding: 5px 5px 5px 5px;
      font-size: 0.8rem;
    }
    .hero-content, .hero-image-content{
      width: 100%;
      height: auto;
      text-align: center;
      margin-bottom: 0px;
      margin-top: 0px;
      border-radius: 1px;
      padding: 0px;
    }
    .icon{
      width: 48%;
      height: auto;
      top: 70%;
      left: 3%;
    }
    .text{
      width: 48%;
      height: auto;
      top: 20%;
      left: 50%;
    }
    .btn-container{
      display: flex;
    }

    .hero-image-content{
      margin-top: 0px;
    }
    .habit-image-container{
      grid-template-columns: repeat(1, 1fr);
      width: 100%;
      height: auto;
      text-align: center;
    }
    .habit-container{
      width: 100%;
      height: auto;
      padding: 0px 0px;
    }
    .habit-card{
      width: 100%;
      height: auto;
      padding: 5px;
    }
    .habit-card img{
      width: 70%;
      height: auto;
    }
    *{
      margin: 0;
      width: 100%;
      height: auto;
    }
    .banner-container{
      flex-direction: column;
      width: 100%;
      height: auto;
      gap: 20px;
    }
    .banner-content, .banner-image img{
      width: 100%;
      height: auto;
      text-align: left;
    }
    .container{
      width: 100%;
      /* height: 120%; */
      height: auto;
      
    }
    #banner-btn{
      width: 95%;
      /* height: auto; */
      
    }

  }
  
  